<select name={{name}} class={{className}}>
    {{#each choices key="choice" as |option|}}
        <option value={{option.choice}}>{{option.choice}} {{option.description}}</option>
    {{/each}}
</select>
